PORT=5000
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:5173
JWT_SECRET=super_secret_jwt_key_esb_case_2026

# PostgreSQL Database URL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/esb_case?schema=public"
